$main-font: 'Roboto', sans-serif;
$lightGrey: #bdbdbd;
$blue: #2286c3;
$fontSize: 16px;


$primaryDarkColor: #303F9F;
$primaryLightColor: #FFFFFF;
$primaryBox: #f5f6f7;
$chathead: #f7ceed;
$primaryColor: #3F51B5;
$textColor: #FFFFFF;
$accentColor: #0084ff;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #a8a8a8;
$deleter: red;