@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto');

$main-font: 'Roboto', sans-serif;
$lightGrey: #bdbdbd;
$blue: #2286c3;

$primaryDarkColor: #0288D1;
$primaryLightColor: #B3E5FC;
$primaryColor: #03A9F4;
$textColor: #FFFFFF;
$accentColor: #ff4381;
$primaryText: #212121;
$secondaryText: #757575;
$dividerColor: #BDBDBD;

body {
  margin: 0;
  font-family: $main-font;
}

label {
  font-size: 15px;
  padding-bottom: 2px;
}

input {
  border-style: none;
  padding: 5px;
  font-size: 16px;
  max-width: 300px;
  border-radius: 7px;
  outline-width: 0;
}

input:focus {
  box-shadow: 0 0 1px 1px $accentColor;
}

button {
  border-style: none;
  background: $accentColor;
  color: $textColor;
  font-size: 15px;
  border-radius: 5px;
  display: block;
}